
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Form -->
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
      <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
          <h1 class="h2">Welcome to Front</h1>
          <p>Fill out the form to get started.</p>
        </div>
        <!-- End Heading -->

        <!-- Form -->
            <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
          <div class="mb-3">
            <label class="form-label" for="signupSimpleSignupEmail">Your email</label>
              <div class="form-control form-control-lg" placeholder="email@site.com">
                <%= f.email_field :email , :size => "45*50" %>
              </div>
            <!-- エラーメッセージを挿入する -->
            <span class="invalid-feedback">Please enter a valid email address.</span>
          </div>
          <div class="mb-3">
            <label class="form-label" for="signupSimpleSignupPassword">Password</label>

            <div class="input-group input-group-merge" data-hs-validation-validate-class>
              <div class="form-control form-control-lg"placeholder="8+ characters required">
                <%= f.password_field :password, autocomplete: "off"  , :size => "45*50" %>
                  <%= f.label :password %>
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br/>
              </div>
            </div>
            <!-- エラーメッセージを挿入する -->
            <span class="invalid-feedback">Your password is invalid. Please try again.</span>
          </div>
          <div class="mb-3">
            <label class="form-label" for="signupSimpleSignupConfirmPassword">Confirm password</label>
              <div class="form-control form-control-lg" placeholder="8+ characters required">
              <%= f.password_field :password_confirmation, autocomplete: "off" , :size => "45*50" %>
              </div>
            </div>
            <!-- エラーメッセージを挿入する --> 
            <span class="invalid-feedback">Password does not match the confirm password.</span>
          </div>
          <!-- End Form -->
          <div class="mb-3 text-center">
            <button class="btn btn-primary btn-lg"><%= f.submit "Sign up" %></button>
          </div>
          <div class="text-center">
            <p>Already have an accounst? <a class="link" href="./page-login-simple.html">Log in here</a></p>
          </div>
          <% end %>
        <!-- End Form -->
      </div>
    </div>
    <!-- End Form -->
  </main>
